#group_form_wrapper{
    display: flex;
    justify-content: space-around;
    padding:20px;
}


#friends_list_wrapper, #group_wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#groupForm, #FriendForm  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid black;
    padding: 20px;
    width: 40vw;
}

.form_start_title{
    padding: 20px;
}


#friend_list {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 20px;
    border: 1px solid black; 
    width: 40vw;
    margin:0;
}


.friend_wrapper button{
    height:36.5px;
}

#friend_list li {
    margin:10px 10px 0 0;
    font-size: 1.5em;
}

#friend_list button {
    margin:0 5px 0;
}

#FriendForm {
    margin-top: 20px;
}

@media only screen and (max-width: 1390px) {
    body {
      background-color: lightblue;
    }

    #group_form_wrapper{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    
    
    #friends_list_wrapper, #group_wrapper {
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
    #groupForm, #FriendForm  {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border: 1px solid black;
        padding: 20px;
        width: 80vw;
        margin-left: 20px;
    }

    #friend_list {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding: 20px;
        border: 1px solid black; 
        width: 80vw;
        margin:0;
    }


  }