#groupsListWrapper{
    display:flex;
    justify-content: center;
}

#groupsList {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 1px solid black;
    width: 45%;
    padding:20px

    }

#groupsList li {
    margin: 10px 0 10px;
    list-style-type: none;
    font-size: 1.5em;

    
}

#groupsList li button{
    margin-left: 10px;
}


