.HomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HomePage p {
    width: 50vw;
    font-size: 2em;
}

.HomePage h2 {
    font-size: 2.5em;
    padding: 20px;
    font-weight: bold;
}

.home_page_button{
    text-decoration: none;
}
