#postsListWrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#postsList {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 1px solid black;
    width: 45%;
    list-style-type: none;
}



#postsList li {
    margin: 10px 0 10px;
    font-size: 1.5em;
    

    
}

#postsList li button{
    margin-left: 10px;
}

